{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",

  "importOrder": ["^@mui/(.*)$", "^[./](.*)(?<!\\.scss)$", "\\.scss$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
